:root {
    --red: #f9032f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #000;
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar__logo {
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}

.navbar__link:hover {
    color: var(--red);
}


