@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root {
    --red: #f9032f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #000;
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar__logo {
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}

.navbar__link:hover {
    color: var(--red);
}

@media screen and (max-width: 768px) {
    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: #000;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    #mobile-menu {
        position: absolute;
        top: 25%;
        right: 5%;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        
    }

}

/************* Hero Section *************/
.hero {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.3)), 
                url('./images/gym-2.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__content {
    color: #fff;
    padding: 3rem 1rem;
    line-height: 1;
}

.hero__content h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero__content p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.btn {
    padding: 1rem 3rem;
    border: none;
    background: var(--red);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #000;
}

/************* Services Section *************/
.services {
    padding: 8rem calc((100vw - 1200px) / 2)
}

.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.services__img {
    width: 100%;
    height: 100%;
}

.topline {
    color: var(--red);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.services__heading {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6vw, 3rem);
}

.services__features {
    list-style: none;
}

.services__feature {
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.fa-check-circle {
    margin-right: 0.5rem;
    color: var(--red);
}

@media screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: 1fr;
    }
}
